{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <button>Se connecter</button>
    <h1>
        <center>
            Bienvenue sur CryptoSite
        </center>
    </h1>
    <img src="../../data/crypto.png">
{% endblock %}
