{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}